# Roberto Puglisi - IBM Data Science Professional Certificate

## *Assignment: Segmenting and Clustering Neighborhoods in Toronto*

This notebook will be mainly used for the capstone project as part of the IBM Data Science Professional Certificate.

### 1. Import libraries

In [598]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs4
import re

### 2. Creating session

Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [611]:
wikilink = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
session = requests.Session()
response = session.get(wikilink)

### 3. Scraping data

In [616]:
soup = bs4(response.text , 'html.parser')

In [626]:
main_table = soup.select("table")[0] #getting the first table in the website
db = main_table.getText().replace('\n\n', '|').replace('\n', '\n|') #removing html code and formatting with '|' separator

Below I create an empty column, and the I append rows..

In [630]:
cig = []

splitted = db.split("\n") #splitting rows (separation on '\n')
for i in range(len(splitted)):
    separated = splitted[i].split("|")[1:4] #for each row it splits fields on '|'
    cig.append(separated)
    
cig = cig[:-1] #here I remove the last row as it was an empty list ['']

### 4. Passing the Table to pandas

..then I create a dataframe using the list above

In [631]:
df = pd.DataFrame(cig)
df = df.rename(columns=df.iloc[0]).drop([0]).set_index('Postal Code') #here I set column names from the first row
print('the table is made of ' + str(len(df)) + ' rows')

the table is made of 180 rows

In [635]:
df = df.loc[df['Borough'] != 'Not assigned'] #Here I filter the df by removing rows where Borough is not assigned.
df.head(10)

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5         M9A         Etobicoke      Islington Avenue, Humber Valley Village
6         M1B       Scarborough                               Malvern, Rouge
7         M3B        North York                                    Don Mills
8         M4B         East York              Parkview Hill, Woodbine Gardens
9         M5B  Downtown Toronto                     Garden District, Ryerson

In [636]:
df.loc[df['Neighbourhood'] == 'Not assigned'] #there are no rows with a Borough but Neighbourhood not assigned...

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [637]:
df.shape

(103, 3)